# Filename: requirements.txt
google-genai
flask
htmx-flask
tqdm
markdown
httpx
Pillow
tiktoken
sentence-transformers
numpy
pypandoc
pytest
python-dotenv
PyPDF2
pdoc
beautifulsoup4
lxml
watchdog
psutil
openai
xai-sdk
mariadb
google-cloud-bigquery
google-auth
pandas
db-dtypes
dotenv
pydantic
