{
    "connector.class": "io.debezium.connector.postgresql.PostgresConnector",
    "tasks.max": "1",
    "database.hostname": "postgres",
    "database.port": "5432",
    "database.user": "${DB_USER}",
    "database.password": "${DB_PASSWORD}",
    "database.dbname": "${DB_NAME}",
    "database.server.name": "chorus",
    "topic.prefix": "chorus",
    "table.include.list": "public.task_queue",
    "publication.name": "debezium_chorus_pub",
    "plugin.name": "pgoutput"
}